<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coffeemember.mapper.MemberMapper">

    <update id="createMemberTable" parameterType="MemberVO">
        create table member(
            id number primary key,
            memberName varchar2(50)
        )
    </update>

    <insert id="insertMemberData" parameterType="MemberVO">
        insert into member values(1, 'ssohee')
    </insert>

    <select id="exitsByMemberName" parameterType="MemberVO" resultType="MemberVO">
        select * from member where memberName = #{memberName}
    </select>
</mapper>
